<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/44cf4ab3ec.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Registration-->
    <div style="font-family: Arial, Helvetica, sans-serif; padding-bottom: 1rem; display: block;">
        <div style="width: 100%; max-width: 32rem;margin: 0 auto;text-align: center;">
            <h1 style="font-size: .9rem; color: blue;">Congratulations!</h1>
            <div style="width: fit-content; margin: 0 auto;"> <img style="width: 100%;"
                    src="link" alt="image2"></div>
            <h1 style="font-size: .8rem; color: slategray;margin-bottom: 2rem;">Dear {{username}},</h1>
            <p style="width: 90%; margin: -1rem auto 0; font-size: .8rem; text-align: left; color: slategrey;">Welcome to
                <span
                    style="font-size: .8rem; color: rgb(20, 20, 236); font-style: italic; font-weight: bold;">{{bankName}}.</span> 
                We're thrilled to have you on board and are excited to help you take control of your finances, your gateway to the world of banking.</p>
            <h2 style='font-weight: 400; font-size: 1rem;color: slategrey;'>Here's what to expect on your
                banking journey:</h2>
        </div>
    </div>

    <div style="font-family: Arial, Helvetica, sans-serif; padding-bottom: 1rem; display: block;">
        <div style="width: 100%; max-width: 32rem;margin: 0 auto;text-align: center;">
            <div style="width: fit-content; margin: 0 auto;"> <img style="width: 100%;"
                    src="link" alt="image3"></div>
            <div class="">
                <h3 style="color: blue; font-size: .9rem; text-align: center;">Cheap Transaction Fees</h3>
                <p style="color: slategray; font-size: .8rem; text-align: left;">Enjoy some of the lowest transaction fees in the industry, helping you save more on every transaction</p>
            </div>

            <div>
                <div style="width: fit-content; margin: 0 auto;"> <img style="width: 100%;"
                        src="link" alt="image4"></div>

                <div class="">
                    <h3 style="color: blue; font-size: .9rem;">Savings Goals:</h3>
                    <p style="color: slategray; font-size: .8rem; text-align: left;">Set and track your financial goals effortlessly, making saving money easier and more rewarding</p>
                </div>
            </div>
            <div>
                <div style="width: fit-content; margin: 0 auto;"> <img style="width: 100%;"
                        src="link" alt="image5"></div>
                <div class="">
                    <h3 style="color: blue; font-size: .9rem;">International Fund Transfers</h3>
                    <p style="color: slategray; font-size: .8rem; text-align: left;">Easily move your funds across borders with our seamless international transfer service.</p>
                </div>
            </div>
        </div>
 <div style="font-family: Arial, Helvetica, sans-serif; padding-bottom: 1rem; display: block;">
        <div style="margin:0 auto 1rem;width: 90%;">
            <h3 style="font-size: .9rem; text-align: center;">Get back into your account to proceed</h3>
            
        <div style="width: fit-content; margin: 5% auto;">
            <a style="color: white;text-decoration: none; width: 90%; margin: 0 auto;background-color:  blue;  border-radius:10px; outline: none; border: none; padding: .5rem 2rem;font-size: .9rem;"
                href="https://secureinvest.org/login">Login</a>
        </div>
        </div>
        <div class="footeer" style="width: 90%;margin: 0 auto;">
            <div style="color: slategrey; font-size: .8rem; width: 90%;">If you have any questions, concerns, or require assistance with the upgrade process, please do not hesitate to contact our customer support team. We are here to assist you and provide any information you may need.</div>
            
        </div>
        <div class="">
            <ul style="list-style: none;">
                <li style="font-size: .9rem; font-weight: bold; color: slategrey;">Contact:</li>
                <li style="margin-bottom: .5rem;"><span style=' font-weight: bold;'><a
                            style="font-style:italic;color: rgb(22, 22, 226);text-decoration: none;"
                            href="link">bankapplication.org.</a></span>
                </li>
                <li><i class="fa-solid fa-phone"></i> <span style="margin-left: .6rem;">+1 304-2167-735</span></li>
            </ul>
            <ul style=" list-style: none;">
                <li style="width: 100%;"><i class="fa-solid fa-location-dot"></i><span style="margin-left: .6rem;">
                        101-113 Branston Street, Jewellery Quarter, <br /> Birmingham, B18 6BA.</span> </li>
                <li></li>
            </ul>
            <div style="width: 90%; margin: 0 auto; text-align: center; font-size: .8rem;">
                <p>Copyright <i class="fa-regular fa-copyright"></i> Secure Invest 2023,</p>
                <p>All rights reserved |<a style="text-decoration: none; " href="link">
                        Terms & Conditions </a>| <a style="text-decoration: none ;"
                        href="link">Privacy
                        Policy</a></p>
            </div>
        </div>

    </div>

    </div>

</body>

</html>